div {
    height: 16px;
    width: 16px;
    padding: 0;
    margin: 0;
    background-color: lightblue;
    transition: background-color 0.2s, transform 0.2s;
}

#container {
    display: flex;
    flex-flow: row wrap;
    width: 256px;
    height: 256px;
    margin: auto;
    padding: 0;
    border-style: solid;
    /* background-color: red; */
}